
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background-color: #2b2b2b;
    --header-background: #1e1e1e;
    --text-color: #ffffff;
    --input-background: #444;
    --input-border: #666;
    --button-background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%);
    --button-hover-background: #d6361f;
    --link-color: #ec540e;
    --link-hover-color: #d6361f;
    --border-radius: 4px;
    --padding: 10px;
}
/* Modo escuro */
.dark-mode {
    --background-color: #b89f9f;
    --header-background: #7e1414;
    --lista-background: #fbdfdf;
    --card-background: #ff8484;
    --text-color: #731818;
    --text-muted: #aeacac;
    --button-background: #8c0000;
    --button-text: #e0e0e0;
    --priority-green: #00ff00;
    --priority-yellow: #ffff00;
    --priority-red: #ff0000; /
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}


h1 {
    margin-bottom: 20px;
    font-size: 24px;
}


form {
    background-color: #333;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    background-color: var(--input-background);
    color: var(--text-color);
    margin-bottom: 10px;
}

form button {
    background: var(--button-background);
    border: none;
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    display: block;
    width: 100%;
}

form button:hover {
    background-color: var(--button-hover-background);
}


a {
    display: inline-block;
    margin-top: 20px;
    color: var(--link-color);
    text-decoration: none;
    font-size: 14px;
    border: 1px solid var(--link-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: #333;
}

a:hover {
    background-color: var(--link-color);
    color: var(--text-color);
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    form {
        padding: 5px;
    }

    form input[type="text"] {
        padding: 8px;
    }

    form button {
        padding: 8px 16px;
    }
}
